.product-list {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    flex: 1;
    margin: 24px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin: 60px;
    }
}
